@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,700');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}